.homeSec {
    background-color: antiquewhite;
    min-height: 50vh;
    text-align: center;

    .introImage {
        width: 100%;
        height: 35vh;
        position: relative;
        background-image: url("../../Images/Home/background.jpg");

        background: {
            size: cover;
        }

        box-sizing: border-box;

        .backgroundDark {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgb(23, 20, 21);
            background: linear-gradient(180deg, rgba(23, 20, 21, 0.8) 0%, rgba(45, 45, 45, 0.7) 85%, rgba(255, 255, 255, 0) 100%);

            p {
                color: #fff;
                font-size: 2rem;
                font-weight: 900;
                margin-bottom: 30px;
                letter-spacing: 7px;

                &:first-child {
                    margin-top: calc((35vh - 184px) / 2);
                }

                &.title {
                    font-size: 3.75rem;
                    font-family: "Protest Guerrilla", sans-serif;
                    letter-spacing: 13px;
                }
            }
        }
    }

    .item_1 {
        height: 100px;
        text-align: center;

        h3 {
            line-height: 100px;
            width: 100px;
            height: 100%;
            background-color: aqua;
            display: inline-block;
        }
    }

    // == introImage end
}